

  <div style="position: relative; left: 200px; width: 680px;">



    <%for article in @user_articles %>


        </br>

        <div class="articleContentBlock" >



          <% if !article.created_at.nil? %>

            <div style="padding: 10px;font-family:'Droid Sans',Tahoma,Arial,sans-serif;font-size:13px;">

                Created at : <%= article.created_at.to_s.split(" ")[0] %>

              </div>
          <%end%>

          <div class="article_content_title_style">
            <p>
                Title : <%= article.title %>
            </p>
          </div> </br>

          <div id="article_content_html_<%= article.id %>" style=" word-wrap: break-word; " class="redactor">

                <%=raw article.content%>

          </div>


          <div style="position: relative;left: 300px;">
            <input type="button" id="article_content_edit_button_<%= article.id %>" value="Edit" class="comments">

            <div id="spinner_article_edit_<%= article.id %>" class="spinner" style="position: relative;top: 350px;" >

            </div>
          </div> </br>



          <div id="image_preview" style="position: relative; top: 40px;">

            <% images = article.attachments.where("attfile_content_type like ?","image%") %>

            <!--if more then one image then show thumb images after text -->
            <% if (!images.nil?) %>


                <div id="gallery_wrapper" style="margin-top: 20px;">
                  <p>Attached files: </p></br>

                  <div id="gallery" >

                    <% for img in images %>

                        <div  style="position: relative;left: 20px;
                                float:left;
                                margin-right:3.80%;
                                margin-bottom:20px;;">
                          <%#= link_to image_tag("/attachments/#{img.id}/#{true}",:alt => img.data_file_name), "/" + t('admin.att-upload-dir') + "#{img.id}/" + img.data_file_name , :title => img.data_file_name , :class => "example2" %>
                          <%= link_to image_tag(img.attfile.url(:thumb),:alt => img.attfile_file_name), "/" + t('admin.att-upload-dir') + "#{img.id}/content_" + img.attfile_file_name , :title => img.title.blank? ? img.attfile_file_name : img.title, :class => "myFancybox2" %>
                          <%= link_to image_tag("close_pop.png", :width => "20px"), "/admin/detach_attachment/#{article.id}/#{img.id}", :title => "Delete Image", :class => "delete_att" , :id => "att_delete_#{article.id}"%>

                          <input type="hidden" id="delete_image_<%= article.id %>" value="<%= img.id %>">


                        </div>

                    <% end  %>

                  </div>

                </div>
            <% end  %>



            <% files = article.attachments.where("attfile_content_type not like ?","image%") %>

            <% if (!files.nil?) %>
                <br/>
                <% for f in files %>
                    <% title = f.title.blank? ? f.attfile_file_name : f.title %>
                    <%#= image_tag "/attachments/#{img.id}/false", :alt => img.data_file_name, :width => (img.width.blank?) ? "100%" : "#{[img.width,450].min}px",:class => 'img_radius' %>
                    <%= link_to content_tag(:span) + image_tag("images/pdf_icon_tiny.jpg", :alt => "Download PDF " + title , :width => "20px", :style => "float:left;" ) + title , f.attfile.url  %> <br /><br />
                <% end  %>
            <% end  %>

            <div id="article_error_<%= article.id %>" style="width: 160px; height: 20px; position: relative;bottom: 120px; left: 260px; display:none;border: 1px solid gray;">     <br/></div>

          </div>

        </div>




    <%end%>


  </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {


        var opts = {
            lines: 13, // The number of lines to draw
            length: 7, // The length of each line
            width: 4, // The line thickness
            radius: 10, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };


        $(function () {

            <!--<%for article in @user_articles %>-->


    //            $('.article_content_text_<%= article.id %>').each(function() {
    //                $(this).editable('/admin/update_article_content?article_id=<%= article.id %>', {
    //                    submit:'<button type="submit" class="checkbookButton">OK</button>',
    //                    cancel:'  Cancel  ',
    //                    width: 650,
    //                    height:404,
    //                    cssclass: "redactor",
    //                    type:"textarea",
    //                    indicator:'Saving...',
    //                    event:'dblclick',
    //                    loadurl  : '/admin/returnArticleContent?article_id=<%= article.id %>',
    //                    data: function(value, settings) {
    //                        var retval = $('#article_content_html_<%= article.id %>').getCode();
    //                        return retval;
    //                    }
    //
    //                });
    //
    //            });
    //
           <!--<%end%>-->
           <%for article in @user_articles %>

            var target_<%= article.id %> = document.getElementById('spinner_article_edit_<%= article.id %>');

            var spinner_<%= article.id %>;

            $('#article_content_edit_button_<%= article.id %>').click(function() {

                spinner_<%= article.id %> = new Spinner(opts).spin(target_<%= article.id %>);
                target_<%= article.id %>.appendChild(spinner_<%= article.id %>.el);

                $.ajax({
                    type:'POST',
                    url:'/admin/update_article_content',
                    data:{
                        article_id:<%= article.id %>,
                        article_content:$('#article_content_html_<%= article.id %>').getCode()
                    },
                    success:function (data) {

                        if (data == 'Article is updated') {

                           // alert(data);
                            spinner_<%= article.id %>.stop();


                            var article_error_<%= article.id %> = document.getElementById('article_error_<%= article.id %>');

                            $("#article_error_<%= article.id %>").html(data);

                            article_error_<%= article.id %>.style.display ="";

                        }
                        else {

                            spinner_<%= article.id %>.stop();


                            var article_error = document.getElementById('article_error');

                            $("#article_error").html("article cannot be updated...");

                            article_error.style.display ="";


                        }
                    }
                });

            });

            $('#att_delete_<%= article.id %>}').click(function(){
                //var image_id = $('#image_id').val();
                //var image_title = $('#image_title').val();
                $.ajaxSetup ({
                    cache: false
                });
                var articleId = <%=article.id %>

                 spinner_<%= article.id %> = new Spinner(opts).spin(target_<%= article.id %>);
                target_<%= article.id %>.appendChild(spinner_<%= article.id %>.el);


                $.ajax({
                    type:'POST',
                    url:'/admin/detach_attachment',
                    data:{article_id: articleId, att_id:$("#delete_image_<%= article.id %>").getValue(), id_string:"att_delete"},
                    success:function (data) {
                        if (data == 'OK') {

                            spinner_<%= article.id %>.stop();
                            window.location = window.location.pathname;


                        } else {

                            spinner_<%= article.id %>.stop();
                            alert(data);
                        }
                    }
                });
                return false;
            });


            <%end%>




        });
    });
</script>


<style>


    .spinner {
        position: relative;
        left: 100px;
        top: 300px;
        margin-left: -32px; /* -1 * image width / 2 */
        margin-top: -32px;  /* -1 * image height / 2 */
        z-index: 99999999;
    }

</style>
